extends layout

block sitestyle
    link(href='stylesheets/indexstyle.css', rel='stylesheet')

block body

    .centered
        #section1
            h1 Martin Engen
            p #[a(href="https://github.com/nitrax92") Git] #[a(href="#prosjekter") Prosjekter] #[a(href="#kontakt") Kontakt]
