extends layout


block sitestyle
    //Local CSS styling

    link(href='stylesheets/indexstyle.css', rel='stylesheet')

    // Projects
    link(href='stylesheets/projectsstyle.css', rel='stylesheet')

    // Test Slide
    link(href='stylesheets/project_teststyle.css', rel='stylesheet')

block body

    #fullpage
        .section#mainsection
            include pages/frontpage



        .section#projectsection
            //h1#projectTitle Prosjekter


            h1#projectTitle Mine Prosjekter

            .slide
                include projects/dfs_dagbok

            .slide
                include projects/rustavrak

            //.slide#testslide
                include projects/project_test
            //.slide
                .slidecontent
                    include projects/rustavrak
            .slide
                include projects/hashing
            .slide
                .slidecontent
                    include projects/scala_range

        .section#aboutsection
            include pages/about


    script.
        $(document).ready(function(){
            $('#fullpage').fullpage({
                scrollBar: true,
                verticalCentered:true,
                anchors: ['topp', 'prosjekter', 'om']
            });
        });