extends layout


block sitestyle
    link(href='stylesheets/indexstyle.css', rel='stylesheet')

block body

    #fullpage
        .section#mainsection
            include pages/frontpage



        .section#projectsection
            h1#projectTitle Prosjekter
            .slide
                .slidecontent

                    include projects/rustavrak
            .slide
                .slidecontent
                    include projects/dfs_dagbok
            .slide
                .slidecontent
                    include projects/hashing
            .slide
                .slidecontent
                    include projects/scala_range

        .section#aboutsection
            include pages/about


    script.
        $(document).ready(function(){
            $('#fullpage').fullpage({
                scrollBar: true,
                verticalCentered:true,
                anchors: ['topp', 'prosjekter', 'om']
            });
        });