doctype html
html
    head
        title Martin Engen
        meta( charset='utf-8' )
        meta( http-equiv='X-UA-Compitable', content='IE-edge' )

        link(rel='stylesheet', type='text/css', href='/static/jquery.fullPage.css')

        script(type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js")
        //script(type="text/javascript" src="/static/jquery.js")
        script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.0/jquery.fullPage.js")
        //script(type="text/javascript" src="/static/jquery.fullPage.js")

        block sitestyle



    body
        block body