doctype html
html
    head
        title Martin Engen | Portefølje
        meta( charset='utf-8' )
        meta( http-equiv='X-UA-Compitable', content='IE-edge' )

        link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.0/jquery.fullPage.css')

        script(type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js")

        //LIGHTBOX
        link(rel='stylesheet', type='text/css', href='/static/lightbox2/css/lightbox.min.css')
        script(type='text/javascript', src='/static/lightbox2/js/lightbox.js')




        //script(type="text/javascript" src="/static/jquery.js")
        script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.0/jquery.fullPage.js")
        //script(type="text/javascript" src="/static/jquery.fullPage.js")

        //FONT
        link(href="https://fonts.googleapis.com/css?family=PT+Serif", rel="stylesheet")

        link( rel="icon" type="image/x-icon" href="/images/favicon.ico")


        block sitestyle



    body
        block body