doctype html
html
    head
        title Jade Example
        meta( charset='utf-8' )
        meta( http-equiv='X-UA-Compitable', content='IE-edge' )
        block sitestyle

    body
        block body