doctype html
html
    head
        title Martin Engen
        meta( charset='utf-8' )
        meta( http-equiv='X-UA-Compitable', content='IE-edge' )

        link(rel='stylesheet', type='text/css', href='/static/jquery.fullPage.css')

        script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")

        script(type="text/javascript" src="/static/jquery.fullPage.js")

        block sitestyle



    body
        block body