.projectcontent
    block projectTitle
    .projectflexcontent

        #details
            h2 Detaljer
            block details


        #content
            #description
                h2 Beskrivelse
                block description

            #images
                block images

