
body{
    background-color: #00585F;
}


#mainsection{
    background-color: #17384C;
    color: #849696;
}

#projectsection{
    background-color: #849696;
}


#aboutsection{
    background-color: #17384C;
}

h1{
    text-align: center;
    font-size: 60px;
}

.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    justify-content: center;
}

.flex-container, a{
    color: #849696;
    font-size: x-large;
    text-decoration: none;

}

.flex-item{
    margin: 0 10px;
}



#projectsection{
    height: 100%;
}

#projectTitle{
    padding: 30px;
    border: 1px black solid;
}
.slidecontent{
    display: -webkit-flex;
    display: flex;
    margin: 60px;
    border: 1px solid black;
    background-color: lightgrey;
    justify-content: space-between;
}

.slidecontent .header{
    color: #232D33;
}

/* ------------TEST_--------------- */




/*
#section1{
    font-size: 44px;
    color: #F0EDBB;
    padding: 0;
    margin: 0;
}

h1{
    padding: 0;
    margin: 0;
}
p{
    padding: 0;
    margin: 0;
}

#section1, a{
    color: #FFFCC4;
    text-decoration: none;
}

#links{
    background-color: blue;

    padding: 0;
    margin: 0;
}
*/
/* mouse over link */
a:hover {
    color: #FF3800;
}
/*
.centered {
    margin: auto;
}
*/
/*
.centered {
    position: fixed;
    top: 40%;
    left: 50%;
    bring your own prefixes
    transform: translate(-50%, -50%);
}
*/

