/*
#floating{
    text-align: center;
    position: absolute;
    left: 50px;
    top: 40px;
    color: #FEFFFB;
    padding: 10px;
    border: 3px solid #FF972C;
    border-radius: 2px;
}
*/

#projectTitle{
    color: #FEFFFB;
    position:absolute;
    top: 30px;
    width:100%;
    text-align:center;
}
.projectcontent{
    color: #232D33;
    background-color: #FEFFFB;

    margin: 60px;
    padding: 0;

}

.projectflexcontent{

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    justify-content: space-around;
    font-size: larger;
    /*border: 5px solid white; */
}

#details{
    padding-left: 70px;

    /*border: 5px solid indianred; */
    flex: 1;
    min-width: 500px;
}

#images{
    padding:10px;
    /*border: 5px solid indianred; */
    flex: 2;

}

#images img{
    border: 2px solid #232D33;
}

#description{
    padding: 10px;
    /*border: 5px solid indigo; */
}

#content{
    padding: 10px;
    /*border: 5px solid indianred; */
    flex: 3;
}

#content img{
    margin: 10px;
}



