//h4#floating Mine Prosjekter


.projectcontent
    h1 Treningsdagbok for skyttere
    .projectflexcontent
        #details
            h3 Detaljer

            h4 Back-End
            ul
                li Python (2.7.x)
                li Django (1.9.x)
                li Google App Engine (PaaS)
                li MySQL (5.6)

            h4 Front-End
            ul
                li Material Design Lite
                li HTML / JavaScript / CSS
                li JQuery


        #content
            #description
                h3 Beskrivelse
                p Digital Treningsdagbok for DFS skyttere. En web applikasjon som kan brukes til å loggføre treninger og resultater fra skyting. Skalleres godt på PC, Tables og Smartphones. <br>
                    b Status: Under Arbeid. <br>
                    b Link: #[a(href="http://dfs-dagbok.appspot.com/") Treningsdagboken]

            #images
                h3 Bilder
                a(href="http://i.imgur.com/TWuuHgj.png" data-lightbox="DFS" data-title="DFS Treningsdagbok Forside")
                    img(src='images/projects/dfs_treningsdagbok/front_min.png' width='250px')

                a(href="http://i.imgur.com/vz2QrwW.png" data-lightbox="DFS" data-title="DFS Treningsdagbok Oversikt")
                    img(src='images/projects/dfs_treningsdagbok/resultater_min.png' width='250px')
                a(href="http://i.imgur.com/HndYRGf.png" data-lightbox="DFS" data-title="DFS Treningsdagbok Statistikk")
                    img(src='images/projects/dfs_treningsdagbok/resultat_stat_min.png' width='250px')


