h1 Treningsdagbok for skyttere

#[a(href="images/projects/rustavrak/rv_frontpage.PNG" data-lightbox="Rusta Vrak 1" data-title="Rusta Vrak Forside") Bilde]
<a href="images/image-1.jpg" data-lightbox="image-1" data-title="My caption">Image #1</a>