//h4#floating Mine Prosjekter

extends ../projectlayout

block projectTitle
    h1 Hashing Algorithmer

block details
    ul
        li C++ 11 (STL)
        li GNU make
        li Linux
        li LateX (Rapport)

block description
    h5 Gruppeprosjekt. <br> Medlemmer: Martin Engen og Daniel Vassdal <br>
    p Som del av prosjektarbeid i emnet 'Softwareutvikling 2' valgte vi å implementere hashing algoritmene MD4, MD5, SHA1 og SHA2 (224,256,384 og 512) i C++ ut av de beskrivende RFC. <br>
    b Kildekode og Rapport: #[a(href="https://1drv.ms/f/s!Ag0xosAKywNXhCW8O1U1Cao4OycP/") One Drive]
    //https://1drv.ms/f/s!Ag0xosAKywNXhCW8O1U1Cao4OycP

block images
