//h4#floating Mine Prosjekter

extends ../projectlayout

block projectTitle
    h1 Hashing Algorithmer

block details
    ul
        li C++ 11 (STL)
        li GNU make


block description
    h5 Gruppeprosjekt. <br> Medlemmer: Martin Engen og Daniel Vassdal

//block images
