h1 Rusta Vrak Bilutleige
    #flexboxes
        #details_test
            h1 Detaljer
            #left
                h4 Back-End
                ul
                    li Python (2.7.x)
                    li Django (1.9.x)
                    li Google App Engine (PaaS)
                    li MySQL (5.6)
            #right
                h4 Front-End
                ul
                    li Material Design Lite
                    li HTML / JavaScript / CSS
                    li JQuery
        #description_test
            h3 Beskrivelse

    h3 Skjermbilder
    a(href="http://i.imgur.com/TWuuHgj.png" data-lightbox="DFS" data-title="DFS Treningsdagbok Forside")
        img(src='images/projects/dfs_treningsdagbok/front_min.png' width='250px')

    a(href="http://i.imgur.com/vz2QrwW.png" data-lightbox="DFS" data-title="DFS Treningsdagbok Oversikt")
        img(src='images/projects/dfs_treningsdagbok/resultater_min.png' width='250px')
    a(href="http://i.imgur.com/HndYRGf.png" data-lightbox="DFS" data-title="DFS Treningsdagbok Statistikk")
        img(src='images/projects/dfs_treningsdagbok/resultat_stat_min.png' width='250px')
