


.header
    h1 Rusta Vrak Bilutleige
.description
    h2 Left InfoBar

.content
    h2 Bilder / Link


//
    h1 Rusta Vrak Bilutleige
    p Nettside for bedriften Rusta Vrak Bilutleige.

    ul
        item Django
        item Python
        item JQuery
        item
