
.header
    h1 Rusta Vrak Bilutleige
    #border-bot

.description
    h2 Detaljer
    h4 Back-End
    ul
        li Python (2.7.x)
        li Django (1.10.x)
        li MySQL (5.6)
        li Google App Engine (Google Cloud Platform)

    h4 Front-End
    ul
        li Bootstrap
        li JQuery
        li Lightbox


.content
    p Nettside for bedriften Rusta Vrak Bilutleige. <br> Brukes som bestillingsverkøy for kunder og oversiktsverkøy for bedriften.
    a(href="images/projects/rustavrak/rv_frontpage.PNG" data-lightbox="rv" data-title="Rusta Vrak Forside")
        img(src= "images/projects/rustavrak/rv_frontpage.PNG" width="30%" height="30%")


