h1 Martin Engen
    #links
        ul.flex-container
            li.flex-item #[a(href="https://github.com/nitrax92") Github]
            li.flex-item #[a(href="#prosjekter") Prosjekter]
            li.flex-item #[a(href="#om") Kontakt]